/* ContactForm.css */
.contact-form-container {
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.contact-form-container h2 {
  margin-bottom: 20px;
  color: #333;
}

.contact-form-container input[type="text"],
.contact-form-container input[type="email"],
.contact-form-container textarea {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.contact-form-container textarea {
  height: 100px;
}

.submit-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  width: 100%;
  margin-top: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  transform-origin: center;
  transition: transform 0.3s ease-in-out;
}

.submit-button:hover {
  background-color: #0056b3;
}

/* Contact.css */

/* Style for the map container */
.map-container {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  /* Set a background color */
}

/* Style for the map iframe */
.map-iframe {
  width: 100%;
  height: 400px;
  /* Set the desired height for your map */
  border: none;
  /* Remove the iframe border */
}

/* Responsive styles for screens smaller than 768px (adjust breakpoints as needed) */
@media (max-width: 768px) {
  .contact-form-container {
    max-width: 100%;
  }
}